@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", Arial,
        sans-serif;
    background-color: #141414;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-weight: bold;
    display: flex;
    padding-left: 5vw;
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    transition: all ease-in-out 0.2s;
}



header .title {
    font-size: 25px;
    color: #d72024;

}

header .items {
    margin-left: 25vw;
    display: flex;
    align-items: center;
}

header .items .item {
    margin-right: 3vw;
    font-size: 15px;
    font-weight: 400;
    color: #d3d3d3;
}

header .items .item:hover {
    cursor: pointer;
    color: #fcf3f3;
}

header .items .active {
    font-weight: 500;
    font-size: 17px;
    color: #fff;
}

header .items .active::after {
    content: '';
    display: block;
    position: relative;
    background-color: #d72024;
    width: 100%;
    height: 2px;
    border-radius: 5px;
}

.space-for-slideshow {
    margin-top: 60vh;
}

.slideshow {
    height: 60vh;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 1px;
}



.slideshow .slide {
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: 100%;
    position: absolute;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}



.slide.active {
    opacity: 1;
}

.slideshow .slide::after {
    background: linear-gradient(61deg, black, transparent);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 0.7;
}

.slide {
    display: flex;
    align-items: center;
}

.slide .details {
    z-index: 2;
    margin-left: 3vw;
}

.slide .details .title {
    font-size: 25px;
    font-weight: 700;
}

.slide .details .extra {
    color: #bdbdbd;
    font-size: 15px;
}

.slide .details .watch {
    padding: 10px 30px;
    margin: 20px 5px;
    background-color: #d72024;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
}

.slide .details .watch:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(0.99);
}



h2 {
    margin-left: 20px;
}



.movie-container {
    overflow-x: auto;
    padding: 10px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.movie-card {
    width: 150px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.movie-card img {
    width: 100%;
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-details {
    display: flex;
    padding: 20px;
}

.movie-details img {
    width: 300px;
    border-radius: 5px;
}

.recommendations {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}

.recommendation-card {
    width: 120px;
    margin: 10px;
    cursor: pointer;
}

.recommendation-card img {
    width: 100%;
    border-radius: 5px;
}

.recommendation-card:hover {
    transform: scale(1.1);
}


footer {
    color: #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(180deg, #141414, #302323);
}